services:
  app:
    build: .
    environment:
      DATABASE_URL: "postgresql://postgres:postgres@db:5432/socialdb?schema=public"
      JWT_SECRET: "supersecret123"
    depends_on:
      - db
    ports:
      - "3000:3000"

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: socialdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
